

services:
  api:
    build: .
    container_name: fastapi_ecommerce
    ports:
      - "8000:8000"
    environment:
      - ENV=docker
    depends_on:
      - db
    volumes:
      - .:/app
    restart: always

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      - ENV=docker
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
